USERNAME=admin
PASSWORD=admin@123
TZ=Asia/Shanghai
AUTO_RELOAD=True
MYSQL_ROOT_PASSWORD=rootpass123
MYSQL_DATABASE=we_mp_rss
MYSQL_USER=rss_user
MYSQL_PASSWORD=pass123456
PROXY_ENABLED=False
PROXY_URL=socks5://<username>:<password>@p.webshare.io:80
